* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: Arial, sans-serif;
   font-size: 16px;
   line-height: 1.4;
   background-color: #f7f7f7;
   color: #333;
 }
 
 header {
   background-color: #333;
   padding: 20px;
 }
 
 

 nav ul {
   list-style: none;
   margin: 0;
   padding: 0;

 }
 
 nav ul li {
   display: inline;
 }
 
 nav ul li a {
   color: #f7f7f7;
   text-decoration: none;
   margin-left: 10px;
 }
 
 section {
   padding: 40px;
   background-color: #fff;
   margin: 20px auto;
   max-width: 1200px;
 }
 
 #hero {
   
   background-image: url("hero-bg.jpg");
   background-size: cover;
   background-position: center;
   height: 60vh;
   display: flex;
  justify-content: center;
   align-items: center;
   margin-top: 5px;
   margin-bottom: 5px;
 }
 
h1 {
font-size: 50px;
}

h2{
  text-align: center;
  font-size: 30px;
}

.fio{
  margin-bottom: 20px;
}
.photo4{
  width: 300px;
  margin-bottom: 20px;
  margin-top: 10px;
  float: left;
  border-radius: 10%;
 margin-right: 100px;
}



 
 #hero p {
   font-size: 24px;
   color: #fff;
   margin-bottom: 20px;
 }
 
 .btn1{
margin-top: 20px;
float: left;
 }
 #hero .btn {
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   text-decoration: none;
 }
 
 footer {
   background-color: #333;
   color: #f7f7f7;
   padding: 20px;
   text-align: center;
 }


.photo1{
 width: 300px;
 
}

.photo2{
 width: 600px;
 height: auto;

}

.photo3{
   width: 300px;
   margin-bottom: 20px;
   margin-top: 10px;
  }

  